<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recorded Lecture</title>
    <link rel="stylesheet" href="./id and pass.css">
</head>
<body>
    <div class="modal-container">
        <div class="modal" id="modal">
          <div class="modal-content">
            <p>Logged in as:</p>
            <p class="logged-user" id="logged-user">example@gmail.com</p>
          </div>
          
          <button type="button" id="modal-close" class="modal-close"><a href="/codequarry/playlist of all/web designing.html">OK</button></a>
        </div>
      </div>
      
      <div class="toast" id="toast">
        <i class="fas fa-exclamation-circle"></i>
        <p class="toast-text">Oops, Wrong email or password!</p>
        <i class="fas fa-close" id="close"></i>
      </div>

      <div class="container">
        <div class="header">
          <h2>Log In</h2>
        </div>
        <form class="form" id="form">
          <div class="form-control">
            <label for="email">Email</label>
            <input type="text" placeholder="email@email.com" id="email" name="email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error Message</small>
          </div>
          
          <div class="form-control">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error Message</small>
          </div>
          
    
          
          <button type="submit">Submit</button>
        </form>
      </div>
      
      <script src="./id and pass form.js"></script>
     
</body>
</html>
